@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
        height: 100vh;
        display: grid;
        place-content: center;
        background-color: #C44569;
    }

    input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  
}
